html, body {
font-family: Garamond, Georgia, serif;
background-color: green;
display: flex;
flex-direction: column;
overflow: hidden;
height: 100vh;
margin: 0px;
}

h1 {
color: black;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-size: 40px;
}
h3 {
color: black;
font-size: 20px;
margin-top: 3px;
text-align: center;
}
#chatbox {
background-color: white;
margin-left: auto;
margin-right: auto;
/*margin-top: 10vh;*/
width: 25vw;
/*border-top-left-radius: 1vw;
border-top-right-radius: 1vw;*/
flex-grow: 1;
overflow-y: scroll;
}

#userInput {
background-color: white;
border-top: 4px solid #009688;
margin-left: auto;
margin-right: auto;
/*margin-bottom: 10vh;*/
width: 25vw;
/*border-bottom-left-radius: 1vw;
border-bottom-right-radius: 1vw;*/
}
 
#textInput {
width: 55%;
margin-left: 1vw;
margin-top: 2vh;
border: none;
outline: none;
font-family: monospace;
font-size: 1em;
font-weight: bold;
}

#buttonInput {
padding-top: 1vw;
padding-bottom: 1vw;
padding-left: 1.5vw;
padding-right: 1.5vw;
font-family: monospace;
font-size: 1em;
background-color: #90EE90;
width: 7%;
}

#hamburgerMenu {
width: 7%;
height: 60%;
padding-left: 0.7em;
padding-top: 0.7em;
}

.menuContent {
display: none;
position: relative;
background-color: #ffffff;
font-family: monospace;
font-weight: bold;
width: 25vw;
margin-left: auto;
margin-right: auto;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 9999;
}

.menuContent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;	
color: green;
}

.show {
display: block;
}

.userText {
/*color: white;
font-family: monospace;
font-size: 17px;
text-align: right;
line-height: 30px;*/
max-width: 50%;
width: fit-content;
background: linear-gradient(#ec6f66, #f3a183);
margin-left: auto;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-right: 1vw;
padding: 10px;
margin-bottom: 0.1em;
}

/*.userText span {
background-color: #B1B4B6;
padding: 10px;
border-radius: 30px;
}*/

span {
white-space: pre-wrap;
word-wrap: break-word;
}

textarea {
resize: none;
padding-top: 0;
/*overflow: hidden; For Firefox  (keeping it on makes it so I can't see text though */
font-weight: bold;
}

.introduction {
max-width: 50%;
width: fit-content;
background: linear-gradient(#02aab0, #00cdac);
padding: 1vh;
text-align: left;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-left: 1vw;
padding: 1vw;
}

.botText {
/*color: white;
font-family: monospace;
font-size: 17px;
text-align: left;
line-height: 0px;*/
max-width: 50%;
width: fit-content;
background: linear-gradient(#02aab0, #00cdac);
padding: 1vh;
text-align: left;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-left: 1vw;
padding: 1vw;
margin-bottom: 0.1em;
}

#booking_calendar {
margin-left: auto;
margin-right: auto;
width: 40%;
}

#rooms {
margin-left: auto;
margin-right: auto;
width: 40%;
}

/* Typing Animation */
#wave .dot {
background: #00bfb6;
padding: 2px;
display: inline-block;
width: 5px;
height: 5px;
border-radius: 100%;
margin-left: 0.5%;
margin-right: 0.5%;
margin-bottom: 3%;
animation: wave 1s linear infinite;
animation-delay: -0.9s;
margin-left: 1vw;
}

#wave .dot.two {
animation-delay: -0.7s;
margin-left: 0.5vw;
}

#wave .dot.three {
animation-delay: -0.5s;
margin-left: 0.5vw;
}

#time-user {
font: 0.8em Consolas, sans-serif;
padding-left: 82%;
padding-bottom: 1em;
}

#time-bot {
font: 0.8em Consolas, sans-serif;
padding-left: 5%;
padding-bottom: 1em;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}