body {
font-family: Garamond, Georgia, serif;
background-color: black;
display: flex;
flex-direction: column;
overflow: hidden;
height: 100vh;
margin: 0px;
}

h1 {
color: black;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-size: 40px;
}

h3 {
color: white;
font-size: 1.8em;
text-align: center;
font-family: monospace;
-webkit-transform: translateY(50%);
}

button {
width: 60%;
height: 10%;
position: relative;
margin-top: 0.3em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
display: block;
font-size: 1.2em;
}

noscript {
display: block;
margin-left: 5em;
margin-top: 10em;
}

#header {
background-color: #E32636;
margin-left: auto;
margin-right: auto;
width: 30%;
}

#hotel_porter_big {
width: 15%;
padding-left: 5%;
-webkit-transform: translateY(-30%);
}

#hotel_porter_small {
width: 10%;
margin-top: 0.2em;
padding-left: 1%;
}

#fromDate {
margin-left: 12%;
margin-top: 5%;
}

#chatbox {
background-color: #ffffff;
margin-left: auto;
margin-right: auto;
width: 30%;
flex-grow: 1;
overflow-y: scroll;
padding-bottom: 2em;
padding-top: 1em;
}

#userInput {
background-color: #ffffff;
border-top: 4px solid #009688;
margin-left: auto;
margin-right: auto;
width: 30%;
}
 
#textInput {
width: 65%;
margin-left: 1.5em;
margin-top: 1.2em;
border: none;
outline: none;
font-family: monospace;
font-size: 1em;
font-weight: bold;
bottom: 0px;
}

#buttonInput {
padding: 1.5em;
font-family: monospace;
font-size: 1em;
background-color: #90EE90;
width: 2em;
}

#hamburgerMenu {
width: 2em;
height: 3em;
padding-left: 0.7em;
padding-top: 0.7em;
}

#arrow {
width: 6%;
}

.menuContent {
z-index: 1;
display: none;
background-color: #ffffff;
font-family: monospace;
font-weight: bold;
position: absolute;
width: 13%;
margin-left: 1.5vw;
bottom: 64px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 10px;
font-size: 1.2em;
}

.menuContent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;	
color: green;
}

.menuContent a:hover {
background-color: #ccc;
border-radius: 10px;
}

.mainMenuContent {
z-index: 1;
display: none;
background-color: #ffffff;
font-family: monospace;
font-weight: bold;
position: absolute;
width: 13%;
margin-left: 15%;
bottom: 8em;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 10px;
font-size: 1.2em;
}

.mainMenuContent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;	
color: green;
}

.mainMenuContent a:hover {
background-color: #ccc;
border-radius: 10px;
}

.userText {
max-width: 45%;
width: fit-content;
background: linear-gradient(#ec6f66, #f3a183);
margin-left: auto;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-right: 1vw;
padding: 10px;
margin-bottom: 0.1em;
}

span {
white-space: pre-wrap;
word-wrap: break-word;
}

textarea {
resize: none;
padding-top: 0;
overflow: hidden; 
font-weight: bold;
background-color: #ffffff;
}

.introduction {
max-width: 45%;
width: fit-content;
background: linear-gradient(#02aab0, #00cdac);
padding: 1vh;
text-align: left;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-left: 3.5vw;
padding: 1vw;
word-wrap: pre-wrap;
}

.botText {
max-width: 45%;
width: fit-content;
background: linear-gradient(#02aab0, #00cdac);
padding: 1vh;
text-align: left;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-left: 3.5vw;
padding: 1vw;
margin-bottom: 0.1em;
margin-top: 0px;
}

.botText_for_rooms {
max-width: 45%;
width: fit-content;
background: linear-gradient(#02aab0, #00cdac);
padding: 1vh;
text-align: left;
color: #fff;
font: 1em Consolas, sans-serif;
border-radius: 20px;
margin-left: 3.5vw;
padding: 1vw;
margin-bottom: 0.1em;
margin-top: 0px;
}

#booking_calendar {
margin-left: auto;
margin-right: auto;
width: 40%;
}

#rooms {
margin-left: auto;
margin-right: auto;
width: 40%;
}

/* Typing Animation */
#wave .dot {
background: #00bfb6;
padding: 2px;
display: inline-block;
width: 5px;
height: 5px;
border-radius: 100%;
animation: wave 1s linear infinite;
animation-delay: -0.9s;
margin-left: 3.5em;
float: left;
position: relative;
margin-bottom: 20px;
}

#wave .dot.two {
animation-delay: -0.7s;
margin-left: 0.5em;
}

#wave .dot.three {
animation-delay: -0.5s;
margin-left: 0.5em;
}

@keyframes wave {
  70% {
    transform: initial;
  }
  20% {
    transform: translateY(-1em);
  }
}

#time-user {
font: 0.8em Consolas, sans-serif;
display: table;
margin-left: auto;
margin-bottom: 0.9em;
padding-right: 2em;
}

#time-bot {
font: 0.8em Consolas, sans-serif;
padding-left: 13%;
display: block;
margin-bottom: 1em;
}

#rate {
position: absolute;
top: 85%;
left: 45%;
font-size: 20px;
color:#ccc;
display: none;
}

#rate:not(:checked) > input {
position:absolute;
top:-9999px;
}

#rate:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:30px;
color:#ccc;
}

#rate:not(:checked) > label:before {
content: '★ ';
}

#rate > input:checked ~ label {
color: #ffc700;    
}

#body_background_image {
height: 100%;
left: 15%;
position: absolute;
z-index: -999;
opacity: 0.5;
}

.room_image {
width: -moz-available;          /* WebKit-based browsers will ignore this. */
width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
border-radius: 1em;
}

#room_title_text {
font-size: 1.4em;
font-family: monospace;
font-weight: bold;
position: relative;
bottom: 0.3em;
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
margin-top: 0.5em;
}

.daterange {
margin-top: 1vh;
display: none;
}

div.daterangepicker.ltr.show-calendar.opensright {
top:10% !important;
}

#lengthOfStay {
right: auto;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 2vh;
width: 50%;
text-align: center;
align-content: center;
font-size: 1em;
}

.nights {
margin-top: 1vh;
margin-bottom: 1vh;
}

#hotel_location {
border: 0;
margin-top: 1em;
margin-left: 3.5vw;
border-radius: 20px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
