<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" type="text/css" href="/static/media_queries.css">
		<link rel="stylesheet" type="text/css" href="/static/auto_complete.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
		<body>
			<!--<form action="get" method="post">-->
			<div id="chatbox">
				<p class="introduction">Hi, I'm a hotel booking system chatbot. Ask me anything about our hotel.</p>
			</div>
			<div id='userInput'>
				<img id="hamburgerMenu" onclick="open_menu()" src="../static/images/hamburger_menu.png" align="left"></img>	
				<div id="myDropDown" class="menuContent">
					<a onclick="submit_selection(this)">Main Menu</a>
					<a onclick="submit_selection(this)">Book a room</a>
					<a onclick="submit_selection(this)">Report this chat</a>
				</div>
				<textarea id="textInput" type="text" name="user_input" placeholder="Please enter your message here"></textarea>
				<img id="buttonInput" type="submit" onclick="submit_input()" oninput="auto_grow(this)" src="../static/images/paper_airplane.png" align="right"></img>
			</div>
			<input id="booking_calendar" type="text" name="user_calendar" style="display:none" value="">
				<select name="rooms" id="rooms" style="display:none">
					<option value="single">Single - £45</option>
					<option value="double">Double - £55</option>
					<option value="twin">Twin - £55</option>
					<option value="triple">Triple - £60</option>
					<option value="quad">Quad - £70</option>
				</select>
			</input>
			<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
			<!--</form>-->
		</body>
	</head>
</html>