<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
		<body>
			<!--<form action="get" method="post">-->
			<div id="chatbox">
				<p class="introduction">Hi, I'm a hotel booking system chatbot.</p>
				<p class="botText"><span>Do you have a booking with one of our hotels?</span></p>
				<div id='userInput'>
					<input id="textInput" type="text" name="user_input" placeholder="Please enter your message here">
					<input id="buttonInput" type="submit" onclick="check()">
				</div>
			</div>
			<input id="booking_calendar" type="text" name="user_calendar" style="display:none" value="">
				<select name="rooms" id="rooms" style="display:none">
					<option value="single">Single - £45</option>
					<option value="double">Double - £55</option>
					<option value="twin">Twin - £55</option>
					<option value="triple">Triple - £60</option>
					<option value="quad">Quad - £70</option>
				</select>
			</input>
			<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
			
			<!--</form>-->
		</body>
	</head>
</html>